body {
  background-color: cornflowerblue;
  display: block;
  margin: 0px;
  padding: 0px;
}
#appBody{
  margin: 0px;
  padding: 0px;
  background-color: cornflowerblue;
 
}
#root{
  margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: cornflowerblue;
}
#header {
  background-color: cadetblue;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}
.h1 {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
}
.h2{
  text-align: center;
}
.h3{
  text-align: center;
}
/* section1 */
.section1{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 10px;
}
.section2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 10px;
}
.labelText {
  padding: 0px;
  margin-right: 5px;
  font-weight: bold;
}
/* Login Form */
#loginPage{
    margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: gray;
}
#loginForm {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  display: block;
}
.loginLabel{
  display: flex;
  align-items: baseline;
  padding: 5px;
}
.loginInput{
  margin-left: 2px;
}
/* Registrationform */
#registrationPage{
  margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: gray;
}
#registrationForm {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;

}
.regisLabel {
  display: flex;
  align-items: baseline;
  padding: 5px;
}
.regisInput{
  margin-left: 2px;
}
/* TaskForm */
#taskform {
  padding: 10px;
  margin: 0px;
  width: 100%;
}

.formLabel{
  display: flex;
  align-items: baseline;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

/* Toggle Page Button */
#pageToggleRow {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

}
#toggleCol {
  display: flex;
  align-items: baseline;
  justify-content: right;
  padding: 10px;
  margin: 0px;
}

#toggleBtn{
      float: right;
        padding: 10px;
        font-weight: bold;
        color: black;
}
/* TaskList */
.taskLabel{
  display: flex;
  align-items: baseline;
}